:root {
  --_bg_color: #3c414a;
  --_calender_bg: #323741;
  --_font_color: #767c8c;
  --_dis_bg: #343942;
  --_active_bg: #1f5eff;
  --_hover_bg: #2c437a;
  --_white_color: #fff;
  --_dis_color: rgba(204, 204, 204, 0.418);
  --in_range: rgba(31, 94, 255, 0.75);
  --range_color: #fff;
}

._calender_wrapper {
  background: var(--_calender_bg);
  box-sizing: border-box;
  border-radius: 8px;
  position: absolute;
  box-shadow: 0 32px 32px -8px rgba(0, 0, 0, 0.08),
    0 0 32px -8px rgba(0, 0, 0, 0.12), 0 0 1px rgba(0, 0, 0, 0.2);
  padding: 10px;
  width: fit-content;
  max-width: fit-content;
  min-width: fit-content;
  z-index: 1000000 !important;
  transition: all cubic-bezier(0.075, 0.82, 0.165, 1);
}

._calender_wrapper ::-webkit-scrollbar {
  display: none;
  width: 0;
  height: 0;
}

._date_child {
  margin: 2px 0;
}

._week_Days {
  color: var(--_font_color);
  margin-bottom: 14px;
  margin-top: 14px;
}

._week_Days,
._date_selectors {
  display: grid;
  text-align: center;
  grid-gap: 8px;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}

._date_child {
  width: 30px;
  height: 30px;
  display: flex;
  cursor: pointer;
  color: var(--_font_color);
  font-weight: 600;
  font-size: 12px;
  border: 1px solid var(--_bg_color);
  text-align: center;
  justify-content: center;
  align-items: center;
  background: var(--_bg_color);
  border-radius: 6px;
}

._current_month_year {
  width: max-content;
  padding: 6px 24px;
  display: flex;
  color: var(--_font_color);
  font-weight: 600;
  border: 1px solid var(--_bg_color);
  font-size: 14px;
  cursor: pointer;
  text-align: center;
  justify-content: center;
  align-items: center;
  background: var(--_bg_color);
  border-radius: 6px;
}

._calender_display_hidden {
  visibility: hidden;
}

._week_Days span {
  font-size: 12px;
}

.disabled {
  color: var(--_dis_color);
  opacity: 20%;
  background: var(--_dis_bg);
  cursor: not-allowed;
}

._date_child.active {
  color: var(--_white_color);
  background-color: var(--_active_bg);
}

._change_month {
  padding: 8px 12px;
  border: 1px solid var(--_bg_color);
  border-radius: 10px;
  display: flex;
  align-items: center;
  width: 36px !important;
  height: 36px !important;
  cursor: pointer;
  color: var(--_font_color);
  background-color: var(--_bg_color);
}

._next_month._change_month {
  transform: rotate(180deg);
}

._date_child:hover,
._current_month_year:hover,
._change_month:hover {
  border: 1px solid var(--_active_bg);
  color: var(--_white_color) !important;
  background-color: var(--_hover_bg);
}

._calender_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  place-items: revert;
}

.active ._event {
  background: white;
}

.in--range {
  background: var(--in_range);
  color: var(--range_color);
}

.rotate-180 {
  transform: rotate(180deg);
}

._calendar_content {
  display: flex;
  flex-direction: column;
}

._years_list_view {
  display: none;
  grid-template-columns: repeat(4, 1fr);
  gap: 8px;
  overflow-y: auto;
  max-height: 254px; /* Adjust this value to match the height of your date selector */
  padding: 8px;
  width: 272px;
  box-sizing: border-box;
}

._year_child {
  width: 100%;
  height: 30px;
  display: flex;
  cursor: pointer;
  color: var(--_font_color);
  font-weight: 600;
  font-size: 12px;
  border: 1px solid var(--_bg_color);
  text-align: center;
  justify-content: center;
  align-items: center;
  background: var(--_bg_color);
  border-radius: 6px;
}

._year_child:hover {
  border: 1px solid var(--_active_bg);
  color: var(--_white_color) !important;
  background-color: var(--_hover_bg);
}

._years_list_view::-webkit-scrollbar {
  width: 6px;
}

._years_list_view::-webkit-scrollbar-track {
  background: var(--_bg_color);
}

._years_list_view::-webkit-scrollbar-thumb {
  background-color: var(--_font_color);
  border-radius: 3px;
}

._previous_month_change_icon,
._next_month_change_icon {
  cursor: pointer;
}
